.global-overlay{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background-color:rgba(0,0,0,.6);
    cursor:pointer;
    transition:opacity .25s ease-out;
    z-index:99
}
.overlay-active .global-overlay{
    opacity:1
}
meta.foundation-version{
    font-family:"/5.5.3/"
}
meta.foundation-mq-small{
    font-family:"/only screen/";
    width:0
}
meta.foundation-mq-small-only{
    font-family:"/only screen and (max-width: 40em)/";
    width:0
}
meta.foundation-mq-medium{
    font-family:"/only screen and (min-width:40.0625em)/";
    width:40.0625em
}
meta.foundation-mq-medium-only{
    font-family:"/only screen and (min-width:40.0625em) and (max-width:64em)/";
    width:40.0625em
}
meta.foundation-mq-large{
    font-family:"/only screen and (min-width:64.0625em)/";
    width:64.0625em
}
meta.foundation-mq-large-only{
    font-family:"/only screen and (min-width:64.0625em) and (max-width:90em)/";
    width:64.0625em
}
meta.foundation-mq-xlarge{
    font-family:"/only screen and (min-width:90.0625em)/";
    width:90.0625em
}
meta.foundation-mq-xlarge-only{
    font-family:"/only screen and (min-width:90.0625em) and (max-width:120em)/";
    width:90.0625em
}
meta.foundation-mq-xxlarge{
    font-family:"/only screen and (min-width:120.0625em)/";
    width:120.0625em
}
meta.foundation-data-attribute-namespace{
    font-family:false
}
body,html{
    height:100%
}
*,:after,:before{
    box-sizing:border-box
}
body,html{
    font-size:100%
}
body{
    background:#fff;
    color:#222;
    cursor:auto;
    font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style:normal;
    font-weight:400;
    line-height:1.5;
    margin:0;
    padding:0;
    position:relative
}
a:hover{
    cursor:pointer
}
img{
    max-width:100%;
    height:auto
}
img{
    -ms-interpolation-mode:bicubic
}
#map_canvas embed,#map_canvas img,#map_canvas object,.map_canvas embed,.map_canvas img,.map_canvas object,.mqa-display embed,.mqa-display img,.mqa-display object{
    max-width:none!important
}
.left{
    float:left!important
}
.right{
    float:right!important
}
.clearfix:after,.clearfix:before{
    content:" ";
    display:table
}
.clearfix:after{
    clear:both
}
.hide{
    display:none
}
.invisible{
    visibility:hidden
}
.antialiased{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
img{
    display:inline-block;
    vertical-align:middle
}
textarea{
    height:auto;
    min-height:50px
}
select{
    width:100%
}
.modal.modal--inside-skullcandy{
    overflow:auto
}
.modal.modal--inside-skullcandy .modal-header{
    padding-left:2.14286rem;
    border-bottom:none
}
.modal.modal--inside-skullcandy .modal-body{
    padding:0
}
.modal.modal--inside-skullcandy .container{
    padding:2.14286rem
}
.modal.modal--inside-skullcandy .modal-footer{
    background:#fff;
    text-align:left
}
.modal.modal--inside-skullcandy .modal-footer a{
    color:#000
}
.modal.modal--inside-skullcandy .modal-close{
    position:relative;
    top:inherit;
    right:inherit;
    left:inherit;
    width:auto;
    transform:none;
    color:#fff;
    font-size:inherit;
    text-align:left
}
.modal.modal--inside-skullcandy .modal-close::after,.modal.modal--inside-skullcandy .modal-close::before{
    content:none;
    right:inherit;
    left:inherit;
    border:none;
    background:0 0!important
}
.modal.modal--inside-skullcandy .icon--back{
    border-top-color:#fff;
    border-right-color:#fff
}
.modal.modal--inside-skullcandy .modal-background,.modal.modal--inside-skullcandy .modal-background h1,.modal.modal--inside-skullcandy .modal-background h2,.modal.modal--inside-skullcandy .modal-background h3,.modal.modal--inside-skullcandy .modal-content,.modal.modal--inside-skullcandy .modal-content h1,.modal.modal--inside-skullcandy .modal-content h2,.modal.modal--inside-skullcandy .modal-content h3{
    background:#1d1d1d;
    color:#fff;
    text-align:left;
    text-transform:none
}
.modal.modal--inside-skullcandy a{
    color:#09e5ff
}
.modal.modal--inside-skullcandy .section--inside-skullcandy-products a{
    display:-ms-flexbox;
    display:flex;
    text-align:left
}
.modal.modal--inside-skullcandy .product-image--inside-skullcandy{
    width:14.85714rem;
    height:14.85714rem
}
.video-wrapper{
    display:block;
    position:relative;
    margin:0 auto
}
.video-wrapper iframe{
    display:none
}
.video-wrapper.video-wrapper-active a{
    display:none
}
.video-wrapper.video-wrapper-active iframe{
    display:initial
}
.video-wrapper .video-play-icon{
    min-width:7.14286rem;
    max-width:33%;
    min-height:7.14286rem
}
.video-wrapper.module-video-player{
    background:initial
}
.video-wrapper.module-video-spacer{
    padding-bottom:55%
}
.video-wrapper.widescreen{
    height:80vh
}
@media (min-width:801px){
    .video-wrapper.widescreen{
        height:initial
    }
}
.video-wrapper .responsive-video{
    height:100%;
    overflow:hidden
}
.mood-background-video{
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:fill
}
.section--inside-skullcandy-products{
    background:#fff
}
.section--inside-skullcandy-products h1,.section--inside-skullcandy-products h2,.section--inside-skullcandy-products h3,.section--inside-skullcandy-products h4,.section--inside-skullcandy-products h5,.section--inside-skullcandy-products p{
    color:#000!important
}
.section--inside-skullcandy-products div{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    width:100%
}
.section--inside-skullcandy-products article{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center
}
.section--inside-skullcandy-products article a{
    padding:0 .71429rem;
    text-align:center
}
.section--inside-skullcandy-products article div{
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:center;
    justify-content:center;
    width:auto
}
.section--inside-skullcandy-products article p{
    font-size:12px
}
@media (min-width:801px){
    .section--inside-skullcandy-products article .product-image--inside-skullcandy{
        width:17rem;
        height:17rem
    }
}
@media (max-width:551px){
    .inside-skullcandy--athlete_detail .module:first-of-type p{
        text-align:left
    }
    .inside-skullcandy--athlete_detail .module-banner-content{
        position:relative;
        top:inherit;
        bottom:inherit
    }
    .inside-skullcandy--athlete_detail .module-banner-content h4{
        margin-top:2.14286rem!important
    }
}
.inside-skullcandy--athlete_detail dl{
    font-size:1.28571rem;
    font-weight:700;
    text-transform:uppercase
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail dl{
        font-size:3.42857rem
    }
}
.inside-skullcandy--athlete_detail dt{
    width:20%;
    float:left
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail dt{
        width:10%
    }
}
.inside-skullcandy--athlete_detail h2{
    font-size:2rem
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail h2{
        font-size:3.85714rem
    }
}
.inside-skullcandy--athlete_detail h3{
    font-size:2.57143rem
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail h3{
        font-size:3.42857rem
    }
}
.inside-skullcandy--athlete_detail h4{
    font-size:2rem
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail h4{
        font-size:3.42857rem
    }
}
.inside-skullcandy--athlete_detail p{
    font-size:14px
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail p{
        font-size:18px
    }
}
.inside-skullcandy--athlete_detail .section--inside-skullcandy-end-image{
    padding:4.28571rem 0
}
@media (max-width:551px){
    .inside-skullcandy--athlete_detail .section--inside-skullcandy-end-image{
        padding-top:2.14286rem
    }
}
.inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes article{
    width:47%;
    margin-right:20px;
    margin-bottom:3.11rem
}
.inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes article:nth-of-type(2n){
    margin-right:0
}
.inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes h3{
    margin-top:.28571rem
}
@media (max-width:551px){
    .inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes h3{
        font-size:22px
    }
}
.inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes img{
    margin-bottom:1.42857rem
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes img{
        margin-bottom:0
    }
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail{
        padding-right:0;
        padding-left:0
    }
    .inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes{
        -ms-flex-pack:center;
        justify-content:center;
        padding-top:2.14286rem
    }
    .inside-skullcandy--athlete_detail .section--inside-skullcandy-athletes article{
        position:relative;
        width:25%;
        margin-right:0;
        margin-bottom:0
    }
}
.inside-skullcandy--athlete_detail .athlete-content{
    text-transform:uppercase
}
@media (min-width:801px){
    .inside-skullcandy--athlete_detail .athlete-content{
        position:absolute;
        bottom:1rem;
        left:1rem
    }
}
.inside-skullcandy--athlete_detail .athlete-content,.inside-skullcandy--athlete_detail .athlete-content a{
    color:#fff
}
.inside-skullcandy--athlete_detail .athlete-content span{
    text-transform:capitalize
}
.inside-skullcandy--athletes{
    padding:1.42857rem;
    padding-top:2.14286rem
}
.inside-skullcandy--athletes .section--inside-skullcandy-athletes{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.inside-skullcandy--athletes .section--inside-skullcandy-athletes article{
    width:47%;
    margin-right:20px;
    margin-bottom:3.11rem
}
.inside-skullcandy--athletes .section--inside-skullcandy-athletes article:nth-of-type(2n){
    margin-right:0
}
.inside-skullcandy--athletes .section--inside-skullcandy-athletes h3{
    margin-top:.28571rem
}
@media (max-width:551px){
    .inside-skullcandy--athletes .section--inside-skullcandy-athletes h3{
        font-size:22px
    }
}
.inside-skullcandy--athletes .section--inside-skullcandy-athletes img{
    margin-bottom:1.42857rem
}
@media (min-width:801px){
    .inside-skullcandy--athletes .section--inside-skullcandy-athletes img{
        margin-bottom:0
    }
}
@media (min-width:801px){
    .inside-skullcandy--athletes{
        padding-right:0;
        padding-left:0
    }
    .inside-skullcandy--athletes .section--inside-skullcandy-athletes{
        -ms-flex-pack:center;
        justify-content:center;
        padding-top:2.14286rem
    }
    .inside-skullcandy--athletes .section--inside-skullcandy-athletes article{
        position:relative;
        width:25%;
        margin-right:0;
        margin-bottom:0
    }
}
.inside-skullcandy--athletes .athlete-content{
    text-transform:uppercase
}
@media (min-width:801px){
    .inside-skullcandy--athletes .athlete-content{
        position:absolute;
        bottom:1rem;
        left:1rem
    }
}
.inside-skullcandy--athletes .athlete-content,.inside-skullcandy--athletes .athlete-content a{
    color:#fff
}
.inside-skullcandy--athletes .athlete-content span{
    text-transform:capitalize
}
.inside-skullcandy--brand_home .carousel{
    overflow:visible
}
@media (max-width:551px){
    .inside-skullcandy--brand_home .carousel{
        padding-bottom:4rem
    }
}
.inside-skullcandy--brand_home .carousel .module-banner-image{
    height:49.14286rem;
    object-fit:cover
}
@media (min-width:801px){
    .inside-skullcandy--brand_home .carousel .module-banner-image{
        height:64.28571rem
    }
}
.inside-skullcandy--brand_home .carousel nav{
    display:none
}
@media (min-width:801px){
    .inside-skullcandy--brand_home .carousel nav{
        display:block;
        position:absolute;
        bottom:5.71429rem;
        left:50%;
        overflow:hidden;
        transform:translateX(-50%)
    }
    .inside-skullcandy--brand_home .carousel nav:hover{
        cursor:pointer
    }
    .inside-skullcandy--brand_home .carousel nav .slick-slide{
        margin:0 .71429rem
    }
    .inside-skullcandy--brand_home .carousel nav .slick-current{
        border-bottom:solid .57143rem #ddd
    }
    .inside-skullcandy--brand_home .carousel nav img{
        width:14.28571rem;
        height:5.71429rem;
        object-fit:cover
    }
}
.inside-skullcandy--brand_home .slick-dots{
    z-index:500;
    bottom:-3.11rem
}
@media (min-width:801px){
    .inside-skullcandy--brand_home .slick-dots{
        display:none!important;
        bottom:1rem
    }
}
.inside-skullcandy--brand_home .slick-dots li{
    width:auto;
    height:auto;
    padding:.5rem
}
.inside-skullcandy--brand_home .slick-dots li button{
    width:.85714rem;
    height:.85714rem;
    margin:auto;
    border-color:#fff;
    background:#fff
}
.inside-skullcandy--brand_home .slick-dots li button::before{
    top:-4px;
    left:-4px
}
.inside-skullcandy--brand_home .slick-dots li.slick-active button::before,.inside-skullcandy--brand_home .slick-dots li.slick-active::before{
    border:2px solid #fff;
    background:#7c7c7c
}
.inside-skullcandy--brand_home .slick-dotted.slick-slider{
    margin-bottom:inherit
}
.inside-skullcandy--brand_home h3{
    font-size:2.57143rem
}
@media (min-width:801px){
    .inside-skullcandy--brand_home h3{
        font-size:3.85714rem
    }
}
.inside-skullcandy--brand_home .section--inside-skullcandy-cards{
    padding-top:5.71429rem
}
@media (min-width:801px){
    .inside-skullcandy--culture .module-main.module--reverse{
        -ms-flex-direction:row-reverse;
        flex-direction:row-reverse
    }
    .inside-skullcandy--culture .module-main article:first-of-type{
        -ms-flex-preferred-size:66.666%;
        flex-basis:66.666%
    }
    .inside-skullcandy--culture .module-main article{
        -ms-flex-preferred-size:33.333%;
        flex-basis:33.333%
    }
}
.inside-skullcandy--culture .module-full-width{
    padding:2.14286rem;
    padding-bottom:0;
    text-align:center
}
.inside-skullcandy--culture .module-full-width .module-content{
    padding:2.14286rem 0
}
.inside-skullcandy--culture .module-full-width .module-content .container{
    padding-right:0;
    padding-left:0
}
@media (min-width:801px){
    .inside-skullcandy--culture .module-full-width{
        padding:5.71429rem
    }
    .inside-skullcandy--culture .module-full-width .module-content{
        padding:5.71429rem
    }
}
.inside-skullcandy--library{
    padding-top:2.14286rem
}
.inside-skullcandy--library h1{
    padding:0 1.42857rem
}
.inside-skullcandy--library nav{
    padding:.71429rem
}
@media (max-width:551px){
    .inside-skullcandy--library nav{
        overflow-y:hidden;
        white-space:nowrap
    }
}
.inside-skullcandy--partnerships{
    padding-top:2.14286rem
}
.inside-skullcandy--partnerships nav{
    padding:.71429rem
}
@media (max-width:551px){
    .inside-skullcandy--partnerships nav{
        overflow-y:hidden;
        white-space:nowrap
    }
}
.inside-skullcandy--partnerships nav a{
    margin-right:1rem
}
@media (max-width:551px){
    .inside-skullcandy--partnerships .module-banner-content{
        -ms-flex-pack:center!important;
        justify-content:center!important
    }
}
.inside-skullcandy--partnerships h3{
    padding:0 1rem
}
.inside-skullcandy--values .image--inside-skullcandy-intro{
    padding:5rem 0
}
.inside-skullcandy--values .module-banner-content h1{
    padding:.71429rem 0
}
@media (min-width:801px){
    .inside-skullcandy--values .module-banner-content h1{
        padding:2.14286rem 0
    }
}
@media (max-width:551px){
    .inside-skullcandy--values .module-banner-content h4{
        font-size:18px
    }
}
.inside-skullcandy{
    background:#1d1d1d
}
.inside-skullcandy .button.round{
    border:1px solid transparent;
    font-family:HelveticaNeueLTPro-Roman,HelveticaNeue-Roman,"Helvetica Neue Roman","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size:18px;
    text-transform:none
}
.inside-skullcandy .button.round::after,.inside-skullcandy .button.round::before{
    content:none
}
.inside-skullcandy .button.round.active{
    border-color:#7c7c7c
}
.inside-skullcandy .section--inside-skullcandy-cards div{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
@media (min-width:801px){
    .inside-skullcandy .section--inside-skullcandy-cards div{
        -ms-flex-wrap:nowrap;
        flex-wrap:nowrap;
        width:100%
    }
}
.inside-skullcandy .section--inside-skullcandy-cards .module-card{
    width:47%;
    margin-right:20px;
    color:#fff
}
@media (max-width:551px){
    .inside-skullcandy .section--inside-skullcandy-cards .module-card:nth-of-type(2n){
        margin-right:0
    }
}
@media (min-width:801px){
    .inside-skullcandy .section--inside-skullcandy-cards .module-card{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        width:27.5rem
    }
}
.inside-skullcandy .section--inside-skullcandy-cards .module-card summary{
    display:block;
    width:100%;
    background:#525252
}
.inside-skullcandy .section--inside-skullcandy-cards .module-card summary em,.inside-skullcandy .section--inside-skullcandy-cards .module-card summary h5{
    padding:1rem
}
.inside-skullcandy .section--inside-skullcandy-cards .module-card summary h5{
    margin-top:0;
    margin-bottom:0
}
.inside-skullcandy .section--inside-skullcandy-cards .module-card summary em{
    display:-ms-flexbox;
    display:flex;
    height:100%;
    background:#494949;
    font-weight:700
}
@media (min-width:801px){
    .inside-skullcandy .section--inside-skullcandy-cards .module-card summary em{
        -ms-flex-align:center;
        align-items:center;
        float:right
    }
    .inside-skullcandy .section--inside-skullcandy-cards .module-card summary h5{
        float:left
    }
}
.inside-skullcandy .section--inside-skullcandy-cards .module-card summary .icon--more{
    border-top-color:#fff;
    border-right-color:#fff
}
.inside-skullcandy .footer--inside-skullcandy{
    padding:5.71429rem
}
.inside-skullcandy .footer--inside-skullcandy,.inside-skullcandy .footer--inside-skullcandy p{
    font-size:14px
}
@media (min-width:801px){
    .inside-skullcandy .footer--inside-skullcandy{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-pack:center;
        justify-content:center
    }
    .inside-skullcandy .footer--inside-skullcandy,.inside-skullcandy .footer--inside-skullcandy p{
        font-size:18px
    }
}
.inside-skullcandy .footer--inside-skullcandy article{
    padding:2.14286rem 0
}
@media (min-width:801px){
    .inside-skullcandy .footer--inside-skullcandy article{
        -ms-flex-preferred-size:20%;
        flex-basis:20%;
        padding:0 2.5rem
    }
}
.inside-skullcandy .footer--inside-skullcandy article:hover *{
    color:#969696
}
.inside-skullcandy .footer--inside-skullcandy article img{
    display:block;
    height:5.35714rem;
    margin:auto;
    margin-bottom:1rem
}
.inside-skullcandy .module+.module .container{
    padding-bottom:0
}
.inside-skullcandy .image--inside-skullcandy-logo{
    max-width:17.71429rem;
    max-height:9.57143rem;
    margin-bottom:1rem
}
@media (min-width:801px){
    .inside-skullcandy .image--inside-skullcandy-logo{
        max-width:24.78571rem;
        max-height:12.14286rem
    }
}
@media (min-width:801px){
    .inside-skullcandy .module-text-align-left .module-banner-content .container{
        margin-left:inherit
    }
    .inside-skullcandy .module-text-align-right .module-banner-content{
        left:inherit
    }
}
.inside-skullcandy .text-left h1,.inside-skullcandy .text-left h2{
    text-align:left
}
@media (min-width:801px){
    .inside-skullcandy .large-text-left h1,.inside-skullcandy .large-text-left h2{
        text-align:left
    }
}
@media (min-width:801px){
    .inside-skullcandy .large-text-left p,.inside-skullcandy .text-left p{
        max-width:35.71429rem
    }
}
.inside-skullcandy .module-text-color-black,.inside-skullcandy .module-text-color-black h1,.inside-skullcandy .module-text-color-black h2,.inside-skullcandy .module-text-color-black h3,.inside-skullcandy .module-text-color-black h4,.inside-skullcandy .module-text-color-black h5,.inside-skullcandy .module-text-color-black h6,.inside-skullcandy .module-text-color-black p{
    color:#000
}
.inside-skullcandy .text-no-transform h1,.inside-skullcandy .text-no-transform h2{
    text-transform:none
}
.inside-skullcandy .module-banner-content h4{
    margin-top:.71429rem
}
.inside-skullcandy .module-banner-content p{
    font-size:14px
}
@media (max-width:551px){
    .inside-skullcandy .module-banner-content{
        -ms-flex-pack:start;
        justify-content:start
    }
    .inside-skullcandy .module-banner-content .container{
        padding-top:0;
        padding-bottom:0
    }
}
@media (min-width:801px){
    .inside-skullcandy .module-banner-content p{
        width:50rem;
        font-size:18px
    }
}
.inside-skullcandy .module-main{
    background:#000
}
.inside-skullcandy .module-main p{
    margin-top:1.555rem;
    font-size:14px
}
@media (min-width:801px){
    .inside-skullcandy .module-main{
        display:-ms-flexbox;
        display:flex
    }
    .inside-skullcandy .module-main p{
        font-size:18px
    }
    .inside-skullcandy .module-main article{
        -ms-flex-preferred-size:50%;
        flex-basis:50%;
        -ms-flex-item-align:center;
        -ms-grid-row-align:center;
        align-self:center
    }
}
.inside-skullcandy .module-main .article--inside-skullcandy-main{
    padding:1rem 2rem
}
@media (min-width:801px){
    .inside-skullcandy .module-main .article--inside-skullcandy-main{
        padding:5rem
    }
}
@media (max-width:551px){
    .inside-skullcandy .button--primary{
        width:100%
    }
}
.inside-skullcandy,.inside-skullcandy a,.inside-skullcandy h1,.inside-skullcandy h2,.inside-skullcandy h3,.inside-skullcandy h4,.inside-skullcandy h5,.inside-skullcandy h6,.inside-skullcandy p{
    color:#fff
}
.inside-skullcandy h1,.inside-skullcandy h2{
    text-align:center
}
@media (max-width:551px){
    .inside-skullcandy h1,.inside-skullcandy h2{
        margin-top:0
    }
}
.inside-skullcandy strong{
    font-weight:700
}
.inside-skullcandy .text-no-transform{
    text-transform:none
}
.inside-skullcandy .text-paragraph-large p{
    font-size:14px
}
@media (min-width:801px){
    .inside-skullcandy .text-paragraph-large p{
        font-size:18px
    }
}
.inside-skullcandy .section--inside-skullcandy{
    padding:5.71429rem 0
}
.inside-skullcandy .section--inside-skullcandy-products{
    padding:2.14286rem 0;
    background:#fff
}
.inside-skullcandy--values .footer--inside-skullcandy [data-url*="/values"]{
    display:none
}
.inside-skullcandy--partnerships .footer--inside-skullcandy [data-url*="/partnerships"]{
    display:none
}
.inside-skullcandy--athletes .footer--inside-skullcandy [data-url*="/athletes"]{
    display:none
}
.inside-skullcandy--library .footer--inside-skullcandy [data-url*="/library"]{
    display:none
}
.inside-skullcandy--culture .footer--inside-skullcandy [data-url*="/culture"]{
    display:none
}